# Created by .ignore support plugin (hsz.mobi)
.idea/*
*.iml
logs/
### Maven template
*/src/test/
*/target/classes/
*/target/test-classes/
*/target/generated-sources/archetype/target/
*/target/generated-sources/archetype/src/test/
*.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

